
CombinerConsole/bin/Debug/CombinerConsole.vshost.exe.manifest
CombinerConsole/bin/Debug/MSNHistoryCombinerConsole.exe
CombinerConsole/bin/Debug/MessageLog.xsl
CombinerConsole/bin/Debug/MSNHistoryCombinerConsole.pdb
CombinerConsole/bin/Debug/MSNHistoryCombinerConsole.vshost.exe
CombinerConsole/bin/Debug/MSNHistoryCombinerConsole.vshost.exe.manifest
CombinerConsole/bin/Debug/MsnHistoryCore.dll
CombinerConsole/bin/Debug/MsnHistoryCore.pdb
CombinerConsole/obj/x86/Debug/CombinerConsole.csproj.FileListAbsolute.txt
CombinerConsole/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CombinerConsole/obj/x86/Debug/MSNHistoryCombinerConsole.exe
CombinerConsole/obj/x86/Debug/MSNHistoryCombinerConsole.pdb
CombinerConsole/obj/x86/Debug/ResolveAssemblyReference.cache
MSNHistoryCombiner/bin/Debug/MessageLog.xsl
MSNHistoryCombiner/bin/Debug/MsnHistoryCombiner.exe
MSNHistoryCombiner/bin/Debug/MsnHistoryCombiner.pdb
MSNHistoryCombiner/bin/Debug/MSNHistoryCombiner.vshost.exe
MSNHistoryCombiner/bin/Debug/MsnHistoryCore.dll
MSNHistoryCombiner/bin/Debug/MsnHistoryCore.pdb
MSNHistoryCombiner/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MSNHistoryCombiner/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MSNHistoryCore/bin/Debug/MessageLog.xsl
MSNHistoryCore/bin/Debug/MsnHistoryCore.dll
MSNHistoryCore/bin/Debug/MsnHistoryCore.pdb
MSNHistoryCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MSNHistoryCore/obj/Debug/MSNHistoryCore.csproj.FileListAbsolute.txt
MSNHistoryCore/obj/Debug/MsnHistoryCore.dll
MSNHistoryCore/obj/Debug/MsnHistoryCore.pdb
MSNHistoryCoreTest/bin/Debug/InvitationOnly.xml
MSNHistoryCoreTest/bin/Debug/LeaveOnly.xml
MSNHistoryCoreTest/bin/Debug/MessageLog.xsl
MSNHistoryCoreTest/bin/Debug/MessageOnly.xml
MSNHistoryCoreTest/bin/Debug/MsnHistoryCore.dll
MSNHistoryCoreTest/bin/Debug/MsnHistoryCore.pdb
MSNHistoryCoreTest/bin/Debug/MsnHistoryCoreTest.dll
MSNHistoryCoreTest/bin/Debug/MsnHistoryCoreTest.pdb
MSNHistoryCoreTest/bin/Debug/nunit.framework.dll
MSNHistoryCoreTest/bin/Debug/nunit.framework.xml
MSNHistoryCoreTest/bin/Debug/zhuexe1301966960 - Archive(2).xml
MSNHistoryCoreTest/bin/Debug/zhuexe1301966960 - Archive.xml
MSNHistoryCoreTest/bin/Debug/zhuexe1301966960.xml
MSNHistoryCombiner/obj/x86/Debug/MsnHistoryCombiner.Form1.resources
MSNHistoryCombiner/obj/x86/Debug/MsnHistoryCombiner.exe
MSNHistoryCombiner/obj/x86/Debug/MsnHistoryCombiner.pdb
MSNHistoryCombiner/obj/x86/Debug/ResolveAssemblyReference.cache
MSNHistoryCombiner/obj/x86/Debug/GenerateResource.read.1.tlog
MSNHistoryCombiner/obj/x86/Debug/GenerateResource.write.1.tlog
MSNHistoryCombiner/obj/x86/Debug/MSNHistoryCombiner.Properties.Resources.resources
MSNHistoryCombiner/obj/x86/Debug/MSNHistoryCombiner.csproj.FileListAbsolute.txt
MSNHistoryCombiner/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
MSNHistoryCoreTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MSNHistoryCoreTest/obj/Debug/MSNHistoryCoreTest.csproj.FileListAbsolute.txt
MSNHistoryCoreTest/obj/Debug/MsnHistoryCoreTest.dll
MSNHistoryCoreTest/obj/Debug/MsnHistoryCoreTest.pdb
MSNHistoryCoreTest/obj/Debug/ResolveAssemblyReference.cache